@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* Custom Basil (Deep Green) Primary Color Scale */
  --color-basil-100: #c0efe8;
  --color-basil-200: #83c4ba;
  --color-basil-300: #388785;
  --color-basil-400: #134f4d; /*primary*/
 

  /* Custom Warm Neutral Scale*/
  --color-cream-100: #FFFDF8;
  --color-cream-200: #FDF8EF;
  --color-cream-300: #DCD7CB;
  --color-cream-400: #B4AEA1;
  --color-cream-500: #6A6452;
  --color-cream-600: #413C2A;
  --color-cream-700: #2A2412;
}

/* Override Nuxt UI neutral colors with warm palette */
:root {
  /* Custom CSS Variables for Semantic Usage */
  --ui-primary: var(--color-basil-400);
  --ui-secondary: var(--color-basil-300);
  --ui-bg: var(--color-cream-100);
  --ui-bg-muted: var(--color-cream-200);
  --ui-text: var(--color-cream-600);
  --ui-text-inverted: var(--color-cream-200);
  --ui-text-muted: var(--color-cream-500);
  --ui-border: var(--color-cream-300);
}

.dark {
  /* Custom CSS Variables for Semantic Usage */
  --ui-primary: var(--color-basil-400);
  --ui-secondary: var(--color-basil-300);
  --ui-bg: var(--color-cream-700);
  --ui-bg-muted: var(--color-cream-600);
  --ui-text: var(--color-cream-100);
  --ui-text-inverted: var(--color-cream-600);
  --ui-text-muted: var(--color-cream-200);
  --ui-border: var(--color-cream-500);
}
